.gif-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}
.app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.prev, .next{
    margin-right: 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}