.gif-list{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    list-style: none;
}
.app{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

button{
    margin-top: 20px;
    background-color: green;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    width: 100px;
    height: 50px;
}

.prev, .next{
    margin-right: 20px;
    background-color: greenyellow;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
}

input{
    border:1px solid gray;
    border-radius: 5px;
    padding: 10px;
    width: 300px;
    margin-right: 20px;

}